<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardware</title>
</head>
<body style="text-align: center; background-color: #1C1C1C;">
    <h1 style="color: rgb(255, 255, 255); padding: 35px">Curso de Hardware</h1>

    <iframe width="1004" height="565" src="https://www.youtube.com/embed/iT6E92Kt38o?list=PLHz_AreHm4dn1JHgN9wpbIUhzZmycYQXW" title="Curso de Hardware: TRAILER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h3 style="color: rgb(255, 255, 255); font-size: xx-large;">Veja o curso completo</h2>
    <a href="https://www.youtube.com/watch?v=iT6E92Kt38o&list=PLHz_AreHm4dn1JHgN9wpbIUhzZmycYQXW&index=1">
        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="color:#ffffff; padding-bottom: 35px">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </a>
</body>
</html>